body {
    background-color: #554348;
}
#headbox1{
    background-color: #554348; 
}
#headbox2{
    background-color:#f39237;
    margin-left:10%;
    margin-right:10%;
}
#Header1{
    line-height: 450px;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:0%;
    
    height: 300px;
    color: #fff8f0;
    text-align: center;
    font-size: 100px;
    background-color: #554348;
}
#HeaderParagraph{
    height: 200px;
    background-color: #554348;
    margin-left:2%;
    margin-right:2%;
    margin-top:0%;
    text-align:center;
    font-size: 45px;
    color: #fff8f0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:2%
}
#HighlightWord{
    color:#f39237
}
#ProjectListTitle{
    margin-left:30%;
    margin-right:30%;
    border-bottom:3px solid #f39237;
    margin-top: 12%;
    line-height: 150%;
    color: #fff8f0;
    text-align: center;
    font-size: 32px;
}

.Nav{
    background-color: #554348;
    overflow: hidden;

}
.Nav a{
    float: left;
    
    color:#fff8f0;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:25px;
}
.Nav a:hover{
    border-bottom:3px solid #f39237;
}
