body {
    background-color: #554348;
}
#Header1{
    line-height: 450px;
    margin:auto;
    height: 300px;
    color: #fff8f0;
    text-align: center;
    font-size: 100px;
}
#HeaderParagraph{
    height: 200px;
   
    margin:auto;
    text-align:center;
    font-size: 45px;
    color: #fff8f0;
    padding-left: 350px;
    padding-right: 350px;
    padding-top:40px;
}
#HighlightWord{
    color:#f39237
}
#ProjectListTitle{
    margin-top: 350px;
    color: #fff8f0;
    text-align: center;
    font-size: 32px;
}

.Nav{
    background-color: #554348;
    overflow: hidden;

}
.Nav a{
    float: left;
    color:#fff8f0;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:25px;
}
